In [1]:
import pandas as pd
import numpy as np
import folium
from folium import plugins

/Users/btb/.virtualenvs/geospatial/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
f = "/Users/brettbyrnes/Documents/Garmin fit Files/data/2013-10-03-08-46-52.csv"

In [3]:
data = pd.read_csv("locations.csv")
path = data[(data["latitude"].notnull() == True)&(data["filename"]==f)][["latitude","longitude"]]

In [4]:
m = folium.Map(location=[32.039510,-81.095118],zoom_start=15)
folium.PolyLine(path).add_to(m)
m.save("map.html")

In [5]:
path

      latitude  longitude
412  32.039171 -81.095256
413  32.039186 -81.095251
414  32.039203 -81.095243
415  32.039324 -81.095191
416  32.039510 -81.095118
..         ...        ...
586  32.046435 -81.079367
587  32.046450 -81.079475
588  32.046477 -81.079564
589  32.046481 -81.079575
590  32.046484 -81.079587

[179 rows x 2 columns]